.hide{
    display: none;
}
.imgcontainer{
    width: 100%;
}
.img{
    padding: 8rem 0;
    margin: 1rem 0;
    width: 78%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./images/india.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 150%;
    border-radius: 2rem;
}
.nav-link{
    border-radius: 8px;
}
.nav-link:hover{
    background-color: #198754;
    color:#fff;
}
.nav-item{
    margin: 0 .5rem;
}
#local{
    color: #198754;
    font-weight: bolder;
}
#local:hover{
    background-color: #198754;
    color:#fff;
}